
*{
    box-sizing: border-box;
}
.container {
    font-size: 1.2rem;
    background-color: #ffffff;
    width: 90vw;
    max-width: 34em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 3em;
    border-radius: 0.6em;
    box-shadow: 0 1.2em 2.4em rgba(111, 85, 0, 0.25);
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

body{
    background-color: #8758ff; 
}
h1{
    margin: 0.6rem 0 0;
}

h3{
    font-weight: 400;
    margin: 10px 0;
}
.cup{
    background-color: rgb(225,225,225, 0.9);
    border: 0.2rem solid rgb(54, 54, 249);
    color: rgb(54, 54, 249);
    border-radius: 0 0 2rem 2rem ;
    height: 20rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.cup.cup-small{
    width: 2rem;
    height: 3.4rem;
    border-radius: 0 0 0.6rem 0.6rem ;
    background-color: rgb(225,225,225, 0.9);
    cursor: pointer;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0.3rem;
    transition: 0.3s ease;
    border: 0.1rem solid rgb(54, 54, 249);
}
.cup.cup-small.full{
    background-color: #98c7ee;
    color: #ffffff;
}
.cups{
    display: flex;
    flex-wrap: wrap;
    width: 12rem;
    align-items: center;
    justify-content: center;
}
.remained{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    transition: 0.3s ease;
}
.remained span{
    font-size: 1.2rem;
    font-weight: bold;
}
.remained small{
    font-size: 0.8rem;
}
.percentage{
    background-color: #98c7ee;
    color: rgb(54, 54, 249);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 2rem;
    height: 0;
    transition: 0.3s ease;
}
.text{
    text-align: center;
    margin: 0 0 0.3rem;
}